* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    }

html{
    touch-action: pan-down;
    }

body {
    background: silver;
}

#main {
    margin: 0;
    padding: 0;
    position: absolute;
    background: #333;
}

div div {
    border: 1px solid black;
    position: absolute;
    transition: all 250ms;
}

#btnNewGame,#btnHelp {
    position: absolute;
    left: 27vw;
    border-radius: 5px;
    height: 15vw;
    width: 45vw;
    background: linear-gradient(30deg, gray, white);
    color: darkolivegreen;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 7vw;
    box-shadow: 1px 1px 10px 3px whitesmoke;
}

#btnNewGame:hover {
    box-shadow: 1px 1px 10px 5px whitesmoke;
}

#btnNewGame {
    top: 135vw;
}
#btnHelp {
    top: 155vw;
    transition: all 500ms;
    }

#level,
#level_size_3,
#level_size_4,
#level_size_5,
#level_size_6{
    background: salmon;
    color: darkolivegreen;
    position: absolute;
    width: 20vw;
    height: 10vw;
    text-align: center;
    line-height: 10vw;
    border: 0.1vw solid black;
    top: 120vw;
    border-radius: 5vw;
    box-shadow: 1px 1px 10px 5px whitesmoke;
}

#level{
    width: 50vw;
    top: 105vw;
    left: 24vw;
    font-size: 8vw;
}
#level_size_3{
    left: 5vw;
    font-size: 8vw;
}
#level_size_4{
    left: 28vw;
    font-size: 8vw;
}
#level_size_5{
    left: 51vw;
    font-size: 8vw;
}
#level_size_6{
    left: 74vw;
    font-size: 8vw;
}

@media (orientation:landscape){
    #level,
    #level_size_3,
    #level_size_4,
    #level_size_5,
    #level_size_6{
        font-size: 4vw;
        width: 10vw;
        height: 8vw;
    }
    
    #level{
        width: 20vw;
        top: 5vw;
        left: 72vw;
    }

    #level_size_3{
        top: 17vw;
        left: 70vw;
    }
    #level_size_4{
        top: 17vw;
        left: 85vw;
    }
    #level_size_5{
        top: 27vw;
        left: 70vw;
    }
    #level_size_6{
        top: 27vw;
        left: 85vw;
    }

    #btnNewGame,#btnHelp {
        left: 73vw;
        height: 8vw;
        width: 20vw;
        font-size: 3.2vw;
    }

    #btnNewGame {
        top: 40vw;
    }

    #btnHelp {
        top: 50vw;
        }
}